:root {
}

.inventory__slot {
    background-color: rgb(53, 53, 53);
}


.inventory__container-slot {
    background-color: rgb(175, 175, 175);
}


.inventory__container {
    background-color: rgb(215, 215, 215);
}

